

.jumbotron{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 3px 2px 16px 4px rgba(86,86,86,0.50);

  width: 98%;
  margin: 15px;
  padding-left: 35px;
  padding-right: 100px;
  background-attachment: fixed;
  height: 97vh;

}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.shopping-cart {
  width: 1000px;
  height: 425px;
  margin: 80px auto;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item[class*=item] {
  border-top:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
  Cursor: pointer;
}
.delete-btn{
  display: inline-block;
  Cursor: pointer;

  width: 18px;
  height: 17px;
}

.image {
  margin-right: 150px;
}
.img-thumbnail{
  height: 90px;
  width: 100px;
}

.description {
  padding-top: 10px;
  margin-right: 150px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[id*=Abtn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-bottom: 2px;
}

button:focus,
input:focus {
  outline:0;
}
.price {
  width: 83px;
  margin-left: 70px;
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  color: #43484D;
  font-weight: 300;
}

.total{
  display:flex;
  justify-content: flex-end;

  margin-top: 40px;
  border-top: 2px dashed #E1E8EE;
  text-align: center;
  font-size: 24px;
  color: #43484D;
  font-weight: 300;
}

p{
    background: linear-gradient(to right,magenta, red,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.checkout{
  display:flex;
  flex-flow: row-reverse;
  margin-bottom: 72px;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
  width: 30%;
  }
.image,.quantity,.description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
